* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
Sezione header
*/

/*LAYOUT*/

header .container {
    background-color: blue;
    color: white;
}

header .row {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header ul {
    display: flex;
    flex-direction: row;
}

header li {
    list-style-type: none;
}

header .content-desktop {
    display: none;
}


/*
Sezione advertisement
*/

/*LAYOUT*/

.layout-6:first-of-type .container {
    background-color: white;
}

.layout-6:first-of-type .row {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.layout-6:first-of-type .col {
    background-color: lightblue;
    margin: 0.5rem 1rem 0.5rem 1rem;
}

.layout-6:first-of-type h3 {
    color: blue;
}

.layout-6:first-of-type img {
    width: 100%;
}


/*
Sezione use
*/

/*LAYOUT*/

.layout-2 .container{
    background-color: plum;
    color: white;
}

.layout-2 .row {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.layout-2 .col {
    width: 100%;
    margin: 2rem;
}

.layout-2 img {
    width: 100%;
    margin: auto;
}

.layout-2 .row .col:last-of-type {
    background-color: white;
    color: black;
    width: 80%;
    padding: 1rem;
}

.layout-2 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout-2 .icon {
    background-color: plum;
}


/*
Sezione testimonials
*/

/*LAYOUT*/

.multiple-rows .row {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.multiple-rows .col, .col-title {
    margin: 2rem;
    text-align: center;
}

.multiple-rows img {
    width: 100%;
}

.multiple-rows .col:not(.col:first-of-type) {
    background-color: plum;
    padding: 2rem;
}


/*
Sezione benefits
*/

/*LAYOUT*/

.layout-6 .container{
    background-color: plum;
    color: white;
}

.layout-6 .row {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.layout-6 .col {
    background-color: white;
    color: black;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.layout-6 .col h1, .layout-6 h3 {
    color: plum;
}

.layout-6 .container > h1 {
    padding: 2rem;
    text-align: center;
}

.layout-6 .content {
    padding: 1rem;
}


/*
Sezione about us
*/

/*LAYOUT*/

.col70-30 .row {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.col70, .col30 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.col70-30 img {
    width: 100%;
}

.col70-30 h1 {
    color: plum;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/*
Sezione Get started
*/

/*LAYOUT*/

.col100 .container {
    background-color: plum;
}

.col100 .content {
    max-width: 80%;
    margin: auto;
    text-align: center;
}

.col100 * {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


/*
Sezione footer
*/

/*LAYOUT*/

footer .container {
    text-align: center;
    color: white;
    background-color: black;
}

footer .content {
    max-width: 80%;
    margin: auto;
}


/*
RESPONSIVE LAYOUT TABLET
*/

@media screen and (min-width: 810px) {

    /*Sezione advertisement*/

    .layout-6:first-of-type .row{
        max-width: 80%;
        margin: auto;
        gap: 1rem;
    }
    
    .layout-6:first-of-type .col:first-of-type {
        width: calc(((100% - 1rem) / 3) * 2);
        display: flex;
        flex-direction: column;
    }

    .layout-6:first-of-type .col:first-of-type img {
        width: 50%;
    }

    .layout-6:first-of-type .col{
        margin: 0;
        width: calc((100% - 2rem) / 3);
    }

    /*Sezione testimonials*/


    .multiple-rows .content:not(.col-title .content) {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .multiple-rows .col-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 2rem;
    }

    .multiple-rows .col p {
        text-align: left;
    }

    /*Sezione benefits*/

    .layout-6 .row {
        gap: 1rem;
    }

    .layout-6 .col {
        width: calc((100% - 1rem) / 2);
    }

    /*Sezione about us*/

    .col70-30 .col70 {
        width: 70%;
    }

    .col70-30 .col30 {
        width: 30%;
    }

}