* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
Sezione header
*/

/*LAYOUT*/

header .container {
    background-color: blue;
    color: white;
}

header .row {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header ul {
    display: flex;
    flex-direction: row;
}

header li {
    list-style-type: none;
}

header .content-desktop {
    display: none;
}


/*
Sezione advertisement
*/

/*LAYOUT*/

.layout-6:first-of-type .container {
    background-color: white;
}

.layout-6:first-of-type .row {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.layout-6:first-of-type .col {
    max-width: 80%;
    margin: auto;
    background-color: lightblue;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.layout-6:first-of-type h3 {
    color: blue;
}

.layout-6:first-of-type img {
    width: 100%;
}


/*
Sezione use
*/

/*LAYOUT*/

.layout-2 .container{
    background-color: plum;
    color: white;
}

.layout-2 .row {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.layout-2 .col {
    width: 100%;
    margin: 2rem;
}

.layout-2 img {
    width: 100%;
    margin: auto;
}

.layout-2 .row .col:last-of-type {
    background-color: white;
    color: black;
    width: 80%;
    padding: 1rem;
}

.layout-2 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout-2 .icon {
    background-color: plum;
}


/*
Sezione testimonials
*/

/*LAYOUT*/

.multiple-rows .row {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.multiple-rows .col {
    margin: 2rem;
    text-align: center;
}

.multiple-rows img {
    width: 100%;
}

.multiple-rows .col:not(.col:first-of-type) {
    background-color: plum;
    padding: 2rem;
}


/*
Sezione benefits
*/

/*LAYOUT*/

.layout-6 .container{
    background-color: plum;
    color: white;
}

.layout-6 .row {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.layout-6 .col {
    max-width: 80%;
    margin: auto;
    background-color: white;
    color: black;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.layout-6 .col h1, .layout-6 h3 {
    color: plum;
}

.layout-6 .container > h1 {
    padding: 2rem;
    text-align: center;
}

.layout-6 .content {
    padding: 1rem;
}


/*
Sezione about us
*/

/*LAYOUT*/

.col80-20 .row {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.col80, .col20 {
    max-width: 80%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.col80-20 img {
    width: 100%;
}

.col80-20 h1 {
    color: plum;
    margin-top: 1rem;
    margin-bottom: 1rem;
}